<div class="main-content">
    <article class="post">
        <div class="post-title">
            <h2 class="title"><%= page.title %></h2>
        </div>
        <div class="post-media2">
            <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
            <% if (page.tags && page.tags.length){ %>
                <%- list_tags(page.tags, {
                    show_count: false,
                    class: 'article-tag'
                }) %>
            <% } %>
        </div>
        <div class="post-content blog-markdown">
            <%- page.more %>
        </div>
        <% if (theme.Footer.counter){ %>
            <div class="busuanzi">
                <span id="busuanzi_container_page_pv">阅读量<span id="busuanzi_value_page_pv"></span>次</span>
                <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            </div>
        <% } %>
    </article>
    <div class="outline">目录</div>
</div>