<div class="search" title="站内搜索"><span class="fa fa-search"></span></div>
<% if(theme.Tool.enable) { %>
<div class="tool">
    <div class="up" title="返回顶部"><span class="fa fa-long-arrow-up"></span></div>
    <div class="down" title="返回底部"><span class="fa fa-long-arrow-down"></span></div>
    <a href="<%= url_for(theme.Tool.app)%>" class="app" title="下载App" download="app.apk"><span class="fa fa-android"></span></a>
</div>
<% } %>